<h3>User Details:</h3>

<div *ngIf="user">
    <div>
        <label>
           <label><b>First Name</b></label> {{user.firstName}}
        </label>
    </div>
    <div>
        <label>
            <label><b>Last Name</b></label> {{user.lastName}}
        </label>
    </div>
    <div>
        <label>
            <label><b>Email Address</b></label> {{user.emailId}}
        </label>
    </div>

    <div>
        <label>
            <label><b>Place</b></label> {{user.place}}
        </label>
    </div>
   
    <br/>
    <button (click)="userList()" class="btn btn-primary">Back to Employee List</button>

</div>